@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Un reset básico para asegurar el fondo oscuro en toda la app */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 */
}
